body{
    background-color: #A2DBFA;
    font-size: 20px;
}

.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 350px;
    border: solid 2px black;
    border-radius: 30px;
    height: 550px;
    display: block;
    background-color: white;
}

.first-row{
    margin-top: 4vh;
}

.second-row{
    margin-top: 2vh;
}

.row .col{
    /* margin: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    height: 70px;
    width: 70px;
    border: none;
    color: black;
    /* border: 1px solid #053742; */
    margin: 3px 3px;
    border-radius: 15px;
    background-color: #EFEFEF;
    box-shadow: 3px 3px black;
}

#equal{
    width: 148px;
}

#screen{
    width: 296px;
    /* background-color: #EFEFEF; */
    padding: 0 20px;
    font-size: 25px;
    cursor: default;
    box-shadow: none;
}

#equal{
    background-color: rgb(93, 252, 93);
    color: white;
}

#clear{
    background-color: red;
    color: white;
}

input:hover{
    height: 70px;
    width: 70px;
    border: none;
    color: black;
    /* border: 1px solid #053742; */
    margin: 3px 3px;
    border-radius: 15px;
    background-color: rgb(209, 205, 205);
    transition: 0.25s;
    
}
